<div class="search-container">
    <div>Search for a city to know the current weather. Use:</div>
    <form class="search-form" action="" novalidate>
        <div class="search-options">
            <div><input type="radio" name="city-input-type" id="city-input-name" value="Name" checked />
                <label for="city-input-name">Name</label>
            </div>
            <div><input type="radio" name="city-input-type" id="city-input-coordinates" value="Coordinates" />
                <label for="city-input-coordinates">Coordinates</label>
            </div>
        </div>
        <div class="search-order">
            <input type="text" name="city-input" id="search-field" placeholder="Ex: London" required/>
            <input type="submit" value="Search" id="search-button" />
        </div>
    </form>
    <div class="error-container" id="error-message"></div>
</div>
<div class="current-weather-container">
    <div id="current-weather-location">Local found: </div>
    <div class="current-weather">
        <div>
            <div id="current-weather-weather">Weather</div>
            <div id="current-weather-currentTemp">Current Temp</div>
            <div id="current-weather-feelsLike">Feels like</div>
        </div>
        <div id="current-weather-separator"></div>
        <div>
            <div id="current-weather-rain/snow">Rain/Snow (last 1h): none</div>
            <div id="current-weather-humidity">Humidity</div>
            <div id="current-weather-windSpeed">Wind speed</div>
        </div>
    </div>
    <div class="weather-credit">Weather data from <a href="https://openweathermap.org/">OpenWeather</a></div>
</div>