<div class="search-container">
    <div>Search for a city to know the forecast for the next few days. Use:</div>
    <form action="">
        <div class="search-options">
            <div><input type="radio" name="city-input-type" id="city-input-name" value="Name" checked />
                <label for="city-input-name">Name</label>
            </div>
            <div><input type="radio" name="city-input-type" id="city-input-coordinates" value="Coordinates" />
                <label for="city-input-coordinates">Coordinates</label>
            </div>
        </div>
        <div class="search-order">
            <input type="text" name="city-input" id="search-field" placeholder="Ex: London"/>
            <input type="button" value="Search" id="search-button"/>
        </div>
    </form>
</div>
<div class="current-weather">
    <div>Local found: </div>
    <div>Weather</div>
    <div>Current Temp</div>
    <div>Humidity</div>
    <div>Wind speed</div>
</div>
<div class="future-weather">
    <div class="day1">
        <div>Weather:</div>
        <div>Max temp</div>
        <div>Min temp</div>
        <div>Precipitation</div>
    </div>
    <div class="day2">
        <div>Weather:</div>
        <div>Max temp</div>
        <div>Min temp</div>
        <div>Precipitation</div>
    </div>
    <div class="day3">
        <div>Weather:</div>
        <div>Max temp</div>
        <div>Min temp</div>
        <div>Precipitation</div>
    </div>
    <div class="day4">
        <div>Weather:</div>
        <div>Max temp</div>
        <div>Min temp</div>
        <div>Precipitation</div>
    </div>
    <div class="day5">
        <div>Weather:</div>
        <div>Max temp</div>
        <div>Min temp</div>
        <div>Precipitation</div>
    </div>
</div>