    <div>
        <div>Search for a city to know the forecast for the next few days:</div>
        <form action="">
            <div>
                <label for="city-input-type">Criteria: Name (Ex: London) or Coordinates (Ex: 51.509865,
                    -0.118092)</label>
                <input type="radio" name="city-input-type" id="" value="Name" />
                <input type="radio" name="city-input-type" id="" value="Coordinates" />
            </div>
            <div>
                <input type="text" name="city-input" id="" />
                <input type="button" value="Search" />
            </div>
        </form>
    </div>
    <div>
        <div>Local found: </div>
        <div><div>Current</div>
    <div></div></div>
        
    </div>