main {
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.search-container > div {
  font-size: 1.8rem;
}

.search-options {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

#city-input-name,
#city-input-coordinates {
  height: 20px;
  width: 20px;
}

.search-order {
  display: flex;
}

#search-field,
#search-button {
  flex: 1 1 auto;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 3px solid;
  background-color: whitesmoke;
}

#search-field {
  padding-left: 5px;
  margin-right: 10px;
  border-color: rgba(255, 255, 255, 0.5);
}

#search-button {
  margin-left: 10px;
  border-color: rgba(0, 0, 0, 0.5);
}

.current-weather-container {
  margin: 50px 0;
  padding: 20px;
  font-size: 1.5rem;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding-top: 20px;
  margin-top: 5px;
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-top-width: 3px;
}

.current-weather-container > :first-child {
  text-align: center;
}

#current-weather-separator {
  flex: 0 0 0;
  width: 1px;
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-right-width: 3px;
}
