header {
  text-align: center;
  overflow: hidden;
  height: 300px;
}

img {
  height: 500px;
  width: 500px;
  object-fit: contain;
  object-position: 0 -100px;
}

.night {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.day{
    background: radial-gradient(ellipse at bottom, hsl(212, 100%, 75%) 0%, #e0e5ff 100%);
}
