header {
  text-align: center;
  overflow: hidden;
  height: 300px;
}

img {
  height: 500px;
  width: 500px;
  object-fit: contain;
  object-position: 0 -100px;
}

.night {
  background: radial-gradient(
    ellipse at bottom,
    rgb(27, 39, 53) 0%,
    rgb(9, 10, 15) 100%
  );
  color: rgb(128, 187, 255);
}

.day {
  background: radial-gradient(
    ellipse at bottom,
    hsl(229, 100%, 88%) 0%,
    rgb(99, 172, 255) 100%
  );
  color: rgb(27, 39, 53);
}
